td {
    color: #f35588;
    font-family: cursive;
    font-size: large;
    background-color: #ffbcb485;
}

th {
    color: #007944;
    font-family: cursive;
    font-size: x-large;
    background-color: #70a95a8e;
}