.navbar {
    background-color: #007944;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titulo {
    color: white;
    font-family: cursive;
    font-size: xx-large;
}

#opciones {
    color: white;
    font-family: cursive;
    font-size: x-large;
}