.jumbotron {
    background-color: #70a95aca;
    color: white;
}

p {
    font-family: cursive;
    font-size: x-large;
}

h3 {
    font-family: cursive;
    color: #f35588;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}