<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">PULSACIONES WEB</h1>
        <p class="lead">Aplicativo Web para el Registro y Consulta de Pulsaciones</p>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-sm-4">
        <h3>¿QUE SON LAS PULSACIONES?</h3>
        <img src="assets/img/pulso.png" alt="">
    </div>
    <div class="col-sm-6">
        <p>En medicina, el pulso de una persona es una onda de presión provocada por la expansión de las arterias como consecuencia de la circulación de sangre bombeada por el corazón. Se obtiene por lo general en partes del cuerpo donde las arterias se
            encuentran más próximas a la piel, como en las muñecas o el cuello e incluso en la sien
        </p>
    </div>
</div>