<div class="container">
    <div class="row">
        <div class="col">
            <h2>REGISTRO DE PERSONAS</h2>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label><strong>Identificacion</strong></label>
                            <input type="text" name="identificacion" [(ngModel)]="persona.identificacion" class="form-control" placeholder="Identificacion" />
                        </div>
                        <div class="form-group">
                            <label><strong>Nombre</strong></label>
                            <input type="text" name="nombre" [(ngModel)]="persona.nombre" class="form-control" placeholder="Nombre" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label><strong>Sexo</strong></label>
                            <input type="text" name="sexo" [(ngModel)]="persona.sexo" class="form-control" placeholder="Sexo" />
                        </div>
                        <div class="form-group">
                            <label><strong>Edad</strong></label>
                            <input type="number" name="edad" [(ngModel)]="persona.edad" class="form-control" placeholder="Edad" />
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-success mr-1" (click)="add()">REGISTRO</button>
                    <button class="btn btn-danger" type="reset">CANCELAR</button>
                </div>
            </form>
        </div>
    </div>
</div>